

body{
    position: absolute;
  margin: 0px; /* Often browsers have a 5px margin by deafult*/
  color: #00FF41;
 /* font-family:  sans-serif;*/
  font-family: "Courier New", Times, serif;
  font-weight: 0;
font-size: 15px;

  width: 100%;
  text-align: center;

  background-color: black;
}

